*.o

array-fixed-size-strings
array-fixed-size-structs
array-dynamic-structs
array-dynamic-strings-glib
generate-readme
list-singly-linked
list-sort
list-reverse

truncate-spaces

demo-desktop-files

.cache/
